# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
logs/

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Testing
coverage/

# Misc
*.pem
.cache/
